.logo-container {
  animation-name: bigToSmall;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  margin: auto !important;
  position: relative;
}

svg {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#logo .base {
  opacity: 1;
  animation-name: hideshow;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}

#logo .line {
  opacity: 1;
  animation-name: hideshow;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

#logo .axa {
  opacity: 1;
  animation-name: hideshow;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
