@keyframes hideshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bigToSmall {
  0% {
    width: 70vh;
    max-width: 100%;
    height: 100vh;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #00008f;
  overflow: hidden;
}

.showable {
  animation-name: hideshow;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

#main {
  animation-name: hideshow;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
